# Игнорировать папку с временными файлами
tmp/

# Игнорировать файлы с расширением .log
*.log

# Игнорировать файл с секретным ключом
.env

# Игнорировать папку node_modules
node_modules/

# Игнорировать сгенерированные папки
build/
dist/